<div
    class="block sticky pointer-events-none bottom-10 bg-base-200 justify-center h-12 [mask-image:linear-gradient(transparent,#000000)]"
>
</div>

<div class="social-icons px-4 pb-5 pt-1 flex self-center justify-center sticky bottom-0 bg-base-200">
    <a
        href="https://aresdi.com/"
        target="_blank"
        class="mx-3"
        aria-label="aresdi"
        title="aresdi"
    >
        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="mx-auto pb-2" viewBox="0 0 300 200"><defs id="defs6"><clipPath clipPathUnits="userSpaceOnUse" id="clipPath18"><path d="M 263,0 H 6299 V 5062 H 263 V 0" id="path16"></path></clipPath></defs><g id="layer1" transform="matrix(0.16,0,0,-0.16,2.6666666,813.33333)" style="display: none;"><g id="g12-3" transform="translate(-8.996582e-7,2.5447845e-5)"><path d="M 804.79983,4576.2777 307.98091,3715.845 200.27681,3902.1521 804.79983,4948.8919 1301.6188,4088.4592 h -215.1082" style="fill: rgb(188, 188, 188); fill-opacity: 1; stroke: currentcolor; stroke-width: 12.5px; stroke-linecap: square; stroke-linejoin: round; stroke-miterlimit: 10; stroke-dasharray: none; stroke-opacity: 1;" id="path22-9"></path><path d="M 1086.5106,4088.4592 912.20389,4389.9706 738.19723,4088.4592 h 348.31337" style="fill: none; stroke: currentcolor; stroke-width: 12.5px; stroke-linecap: square; stroke-linejoin: round; stroke-miterlimit: 10; stroke-dasharray: none; stroke-opacity: 1;" id="path20-1"></path><path d="M 1624.131,3902.1521 1516.7269,3715.845 H 307.98091" style="fill: none; stroke: currentcolor; stroke-width: 12.5px; stroke-linecap: square; stroke-linejoin: round; stroke-miterlimit: 10; stroke-dasharray: none; stroke-opacity: 1;" id="path24-9"></path><path d="M 804.79983,4948.8919 H 1019.908 L 1624.131,3902.1521 H 630.79325" style="fill: none; stroke: currentcolor; stroke-width: 12.5px; stroke-linecap: square; stroke-linejoin: round; stroke-miterlimit: 10; stroke-dasharray: none; stroke-opacity: 1;" id="path26-6"></path><path d="M 912.20389,4389.9706 804.79983,4576.2777" style="fill: none; stroke: currentcolor; stroke-width: 12.5px; stroke-linecap: square; stroke-linejoin: round; stroke-miterlimit: 10; stroke-dasharray: none; stroke-opacity: 1;" id="path28-9"></path><path d="M 738.19723,4088.4592 630.79325,3902.1521" style="fill: none; stroke: currentcolor; stroke-width: 12.5px; stroke-linecap: square; stroke-linejoin: round; stroke-miterlimit: 10; stroke-dasharray: none; stroke-opacity: 1;" id="path30-3"></path><text xml:space="preserve" style="font-weight: bold; font-size: 451.281px; line-height: 1.25; font-family: sans-serif; letter-spacing: 31.25px; fill: rgb(74, 74, 74); fill-opacity: 1; stroke-width: 11.282px;" x="46.685047" y="-3293.1973" id="text934-3" transform="scale(1,-1)"><tspan id="tspan932-8" x="46.685047" y="-3293.1973" style="font-style: normal; font-variant: normal; font-weight: bold; font-stretch: normal; font-family: &quot;Open Sans&quot;; fill: rgb(74, 74, 74); fill-opacity: 1; stroke-width: 11.282px;">ARESDI</tspan></text></g></g><g id="g10" transform="matrix(0.16,0,0,-0.16,2.6666666,813.33333)" style="display: none;"><g id="g12"><path d="M 804.79983,4576.2777 307.98091,3715.845 200.27681,3902.1521 804.79983,4948.8919 1301.6188,4088.4592 h -215.1082" style="fill: rgb(255, 165, 190); fill-opacity: 1; stroke: rgb(0, 146, 164); stroke-width: 12.5px; stroke-linecap: square; stroke-linejoin: round; stroke-miterlimit: 10; stroke-dasharray: none; stroke-opacity: 1;" id="path22"></path><path d="M 1086.5106,4088.4592 912.20389,4389.9706 738.19723,4088.4592 h 348.31337" style="fill: none; stroke: rgb(0, 146, 164); stroke-width: 12.5px; stroke-linecap: square; stroke-linejoin: round; stroke-miterlimit: 10; stroke-dasharray: none; stroke-opacity: 1;" id="path20"></path><path d="M 1624.131,3902.1521 1516.7269,3715.845 H 307.98091" style="fill: none; stroke: rgb(0, 146, 164); stroke-width: 12.5px; stroke-linecap: square; stroke-linejoin: round; stroke-miterlimit: 10; stroke-dasharray: none; stroke-opacity: 1;" id="path24"></path><path d="M 804.79983,4948.8919 H 1019.908 L 1624.131,3902.1521 H 630.79325" style="fill: none; stroke: rgb(0, 146, 164); stroke-width: 12.5px; stroke-linecap: square; stroke-linejoin: round; stroke-miterlimit: 10; stroke-dasharray: none; stroke-opacity: 1;" id="path26"></path><path d="M 912.20389,4389.9706 804.79983,4576.2777" style="fill: none; stroke: rgb(0, 146, 164); stroke-width: 12.5px; stroke-linecap: square; stroke-linejoin: round; stroke-miterlimit: 10; stroke-dasharray: none; stroke-opacity: 1;" id="path28"></path><path d="M 738.19723,4088.4592 630.79325,3902.1521" style="fill: none; stroke: rgb(0, 146, 164); stroke-width: 12.5px; stroke-linecap: square; stroke-linejoin: round; stroke-miterlimit: 10; stroke-dasharray: none; stroke-opacity: 1;" id="path30"></path><text xml:space="preserve" style="font-weight: bold; font-size: 451.281px; line-height: 1.25; font-family: sans-serif; letter-spacing: 31.25px; fill: rgb(142, 63, 95); fill-opacity: 1; stroke-width: 11.282px;" x="46.685047" y="-3293.1973" id="text934" transform="scale(1,-1)"><tspan id="tspan932" x="46.685047" y="-3293.1973" style="font-style: normal; font-variant: normal; font-weight: bold; font-stretch: normal; font-family: &quot;Open Sans&quot;; fill: rgb(142, 63, 95); fill-opacity: 1; stroke-width: 11.282px;">ARESDI</tspan></text></g></g><g id="layer2"><g id="g943" transform="translate(201.34834,7.90017)"><path style="fill: rgb(188, 188, 188); fill-opacity: 1; stroke: currentcolor; stroke-width: 2px; stroke-linecap: round; stroke-linejoin: bevel; stroke-miterlimit: 4; stroke-dasharray: none; stroke-opacity: 1;" d="M -165.28904,188.98899 -68.56536,21.510622 10.92567,159.17985 h -34.41731 l -45.07372,-78.050956 -79.49103,137.669236 -17.23265,-29.80914" id="path922"></path><path style="fill-opacity: 1; stroke: currentcolor; stroke-width: 2px; stroke-linecap: round; stroke-linejoin: bevel; stroke-miterlimit: 4; stroke-dasharray: none; stroke-opacity: 1;" d="m -68.56536,21.510622 h 34.41731 L 62.52763,188.98899 H -96.40641 l 17.18463,-29.80914 h 90.14745 z" id="path926"></path><path style="fill: none; stroke: currentcolor; stroke-width: 2px; stroke-linecap: round; stroke-linejoin: bevel; stroke-miterlimit: 4; stroke-dasharray: none; stroke-opacity: 1;" d="M -68.56536,81.128894 -148.05639,218.79813 H 45.34297 L 62.52763,188.98899 H -96.40641 l 45.0257,-78.05096 z" id="path928"></path></g></g></svg>
        <!-- <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            style="fill: currentColor;transform: ;msFilter:;"
            ><path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M5 2h2v3H5zm4 0h2v3H9zm4 0h2v3h-2zm6 7h-2V7H3v11c0 1.654 1.346 3 3 3h8c1.654 0 3-1.346 3-3h2c1.103 0 2-.897 2-2v-5c0-1.103-.897-2-2-2zm-4 9a1 1 0 0 1-1 1H6a1 1 0 0 1-1-1V9h10v9zm2-2v-5h2l.002 5H17z"
            ></path></svg
        > -->
    </a>
    <!-- <a href="https://github.com/manuelernestog" target="_blank" class="mx-3" aria-label="Github" title="Github">
        <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            style="fill: currentColor;transform: ;msFilter:;"
            ><path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M12.026 2c-5.509 0-9.974 4.465-9.974 9.974 0 4.406 2.857 8.145 6.821 9.465.499.09.679-.217.679-.481 0-.237-.008-.865-.011-1.696-2.775.602-3.361-1.338-3.361-1.338-.452-1.152-1.107-1.459-1.107-1.459-.905-.619.069-.605.069-.605 1.002.07 1.527 1.028 1.527 1.028.89 1.524 2.336 1.084 2.902.829.091-.645.351-1.085.635-1.334-2.214-.251-4.542-1.107-4.542-4.93 0-1.087.389-1.979 1.024-2.675-.101-.253-.446-1.268.099-2.64 0 0 .837-.269 2.742 1.021a9.582 9.582 0 0 1 2.496-.336 9.554 9.554 0 0 1 2.496.336c1.906-1.291 2.742-1.021 2.742-1.021.545 1.372.203 2.387.099 2.64.64.696 1.024 1.587 1.024 2.675 0 3.833-2.33 4.675-4.552 4.922.355.308.675.916.675 1.846 0 1.334-.012 2.41-.012 2.737 0 .267.178.577.687.479C19.146 20.115 22 16.379 22 11.974 22 6.465 17.535 2 12.026 2z"
            ></path>
        </svg>
    </a>
    <a href="https://twitter.com/manuelernestog" target="_blank" class="mx-3" aria-label="Twitter" title="Twitter">
        <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            style="fill: currentColor;transform: ;msFilter:;"
            ><path
                d="M19.633 7.997c.013.175.013.349.013.523 0 5.325-4.053 11.461-11.46 11.461-2.282 0-4.402-.661-6.186-1.809.324.037.636.05.973.05a8.07 8.07 0 0 0 5.001-1.721 4.036 4.036 0 0 1-3.767-2.793c.249.037.499.062.761.062.361 0 .724-.05 1.061-.137a4.027 4.027 0 0 1-3.23-3.953v-.05c.537.299 1.16.486 1.82.511a4.022 4.022 0 0 1-1.796-3.354c0-.748.199-1.434.548-2.032a11.457 11.457 0 0 0 8.306 4.215c-.062-.3-.1-.611-.1-.923a4.026 4.026 0 0 1 4.028-4.028c1.16 0 2.207.486 2.943 1.272a7.957 7.957 0 0 0 2.556-.973 4.02 4.02 0 0 1-1.771 2.22 8.073 8.073 0 0 0 2.319-.624 8.645 8.645 0 0 1-2.019 2.083z"
            ></path>
        </svg>
    </a> -->
    <a
        href="mailto:contacto@aresdi.com"
        target="_blank"
        class="mx-3"
        aria-label="Email"
        title="Email"
    >
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-envelope" viewBox="0 0 16 16"> <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4Zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2Zm13 2.383-4.708 2.825L15 11.105V5.383Zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741ZM1 11.105l4.708-2.897L1 5.383v5.722Z"/> </svg>
    </a>
    <a
        href="https://www.linkedin.com/in/moisesescarcega/"
        target="_blank"
        class="mx-3"
        aria-label="Linkedin"
        title="Linkedin"
    >
        <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            style="fill: currentColor;transform: ;msFilter:;"
            ><circle cx="4.983" cy="5.009" r="2.188"></circle><path
                d="M9.237 8.855v12.139h3.769v-6.003c0-1.584.298-3.118 2.262-3.118 1.937 0 1.961 1.811 1.961 3.218v5.904H21v-6.657c0-3.27-.704-5.783-4.526-5.783-1.835 0-3.065 1.007-3.568 1.96h-.051v-1.66H9.237zm-6.142 0H6.87v12.139H3.095z"
            ></path>
        </svg>
    </a>
    <a
        href="https://wa.me/525517742133"
        target="_blank"
        class="mx-3"
        aria-label="WhatsApp"
        title="WhatsApp"
    >
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-whatsapp" viewBox="0 0 16 16"> <path d="M13.601 2.326A7.854 7.854 0 0 0 7.994 0C3.627 0 .068 3.558.064 7.926c0 1.399.366 2.76 1.057 3.965L0 16l4.204-1.102a7.933 7.933 0 0 0 3.79.965h.004c4.368 0 7.926-3.558 7.93-7.93A7.898 7.898 0 0 0 13.6 2.326zM7.994 14.521a6.573 6.573 0 0 1-3.356-.92l-.24-.144-2.494.654.666-2.433-.156-.251a6.56 6.56 0 0 1-1.007-3.505c0-3.626 2.957-6.584 6.591-6.584a6.56 6.56 0 0 1 4.66 1.931 6.557 6.557 0 0 1 1.928 4.66c-.004 3.639-2.961 6.592-6.592 6.592zm3.615-4.934c-.197-.099-1.17-.578-1.353-.646-.182-.065-.315-.099-.445.099-.133.197-.513.646-.627.775-.114.133-.232.148-.43.05-.197-.1-.836-.308-1.592-.985-.59-.525-.985-1.175-1.103-1.372-.114-.198-.011-.304.088-.403.087-.088.197-.232.296-.346.1-.114.133-.198.198-.33.065-.134.034-.248-.015-.347-.05-.099-.445-1.076-.612-1.47-.16-.389-.323-.335-.445-.34-.114-.007-.247-.007-.38-.007a.729.729 0 0 0-.529.247c-.182.198-.691.677-.691 1.654 0 .977.71 1.916.81 2.049.098.133 1.394 2.132 3.383 2.992.47.205.84.326 1.129.418.475.152.904.129 1.246.08.38-.058 1.171-.48 1.338-.943.164-.464.164-.86.114-.943-.049-.084-.182-.133-.38-.232z"/> </svg>
    </a>

    <!-- <a href="/rss.xml" target="_blank" class="mx-3" aria-label="RSS Feed" title="RSS Feed">
        <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            style="fill: currentColor;transform: ;msFilter:;"
            ><path d="M19 20.001C19 11.729 12.271 5 4 5v2c7.168 0 13 5.832 13 13.001h2z"></path><path
                d="M12 20.001h2C14 14.486 9.514 10 4 10v2c4.411 0 8 3.589 8 8.001z"></path><circle cx="6" cy="18" r="2"
            ></circle>
        </svg>
    </a> -->
</div>
